<nav class="uk-navbar-container  uk-margin " uk-navbar>
    <div class="uk-navbar-left ">
        
        <a class="uk-navbar-item uk-logo" href="#" aria-label="Back to Home">Hospital Archive Portal</a>
    </div>

    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
            <li>
                <a href="#">{{ username }} <span uk-navbar-parent-icon></span></a>
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li class="uk-nav-header">Profile</li>
                        <li><a href="#">View profile</a></li>
                        <li><a href="#">Change password</a></li>
                        <li><a href="#">Request clearance</a></li>
                        <li class="uk-nav-header">Other matters</li>
                        <li><a href="#">Submit materials</a></li>
                        <li><a href="#">Report a problem</a></li>
                        <li class="uk-nav-divider"></li>
                        <li><a href="#">Logout</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    
</nav>